*{
  font-weight: bold;
}
.card{
  margin-top: 8vw;
  margin-left: 30%;
  width: 30vw;
  font-size: 1vw;
  border-radius: 0.2vw;
  border: 0.20vw solid black;
  padding: 3vw;
  background-image: linear-gradient(to right, rgb(255, 140, 159), rgb(253, 237, 237));
  box-shadow: 0.4vw 0.4vw 0.2vw 0 rgb(36, 36, 36);
}
input{
  width: 70%;
  height: auto;
  padding: 0.75vw;
  font-size: 1vw;
  color: darkgray;
  border: 0.15vw solid black;
  border-radius: 0.45vw;
}
input:focus{
  color: white;
  background: darkgray;
}
.msg{
  color: red;
  font-size: 0.8vw;
}